.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  padding: 10px 0;
  scroll-behavior: smooth;
  gap: 9px;
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 868px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
